{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h1 class="mt-5">À propos</h1>
    <p class="lead"><p>Notre application de parking est conçue pour simplifier la gestion et l'organisation des parkings. Que ce soit pour un parking public,<br> un parking d'entreprise ou un parking résidentiel, notre application offre une solution complète pour faciliter le suivi des entrées,<br> des sorties, des emplacements et des paiements.</p>
    <p>Notre équipe est dévouée à améliorer continuellement notre application de parking.</p>
    <div class="row">
      <div class="col-md-6">
        <h2 class="mt-4">Notre mission</h2>
        <p><div class="container">
          <p>Notre mission est de simplifier et d'améliorer l'expérience de stationnement pour les drivers en offrant une solution innovante et pratique de gestion des parkings.</p>
          <p>Nous sommes passionnés par l'innovation technologique et nous nous efforçons de rester à l'avant-garde de l'industrie du stationnement. Nous sommes déterminés à offrir une solution de pointe qui répond aux besoins changeants des propriétaires de parkings.</p>
        </div>
        </p>
      </div>
      <div class="col-md-6">
        <h2 class="mt-4">Développeuse</h2>
        <ul class="list-group">
          <li class="list-group-item">Israe KHOUI - Elève Ingénieur en Développement Informatique</li>
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
