{% extends 'base1.html' %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Ajouter un véhicule</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1 class="mt-4">Ajouter un véhicule</h1>
        <form method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btn-primary mt-3">Ajouter</button>
        </form>
    </div>
</body>
</html>
{% endblock %}
